.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    max-height: 209px;
    justify-content: flex-end;
    gap: 28.556px;
    min-width: 100%;
    margin: 0%;

    @media screen and (max-width: 767px){
            justify-content: center;
            gap: 10px;
         }
   
    &_logo {
    width: 122px;
    height: 39.444px;
    margin-top: 60px;
    }

    &_txt {
        font-size: 24px;

         @media screen and (max-width: 767px){
            display: flex;
            width: 30%;
            height: 46px;
            text-align: center;
            flex-direction: column;
            justify-content: center;
            font-size: 12px;
            line-height: 142.6%;
         }
    }
}