.home_gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: #F6F6F6;
  padding: 50px;
  border-radius: 25px;
  width: 85%;
  max-height: 829px;
  margin-top: 15px;
  margin-bottom: 30px;
  overflow-y: auto;
  position: relative;
  
  /* Utilisation de clip-path pour maintenir les bordures arrondies */
  clip-path: inset(0 round 25px);

  @media screen and (max-width: 767px) {
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);  
    background-color: white;
    width: 94%;
    gap: 20px;
    margin-top: 0px;
    margin-bottom: 20px;
    justify-content: center;
    max-height: 800px;
    clip-path: none; /* Désactiver le clip-path pour les petits écrans */
    border-radius: 0;
  }
}
