.rental {
    font-family: Montserrat;

    &_contain {
        display: flex;
        flex-direction: row;
        width: 90%;
        margin-left: 5%;
        justify-content: space-between;
        align-items: center;

         @media screen and (max-width: 767px){
            flex-direction: column;
            align-items: start;
   }
    }

    &_title {
    color: #FF6060;
    font-size: 36px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 0px;
    @media screen and (max-width: 767px){
            font-size: 18px;
            line-height: 142.6%;
            margin-top: 10px;
   }
}

    &_location {
        margin: 0px;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 20px;
        @media screen and (max-width: 767px){
            font-size: 14px;
            margin-top: 7px;
   }
    }

    &_host {
        display: flex;
        flex-direction: column;
        gap: 10px;

         @media screen and (max-width: 767px){
            width: 100%;
            flex-direction: row-reverse;
            justify-content: space-between;
            margin: 10px 0px;
   }

        &_info {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 10px;
        }

        &_name {
            color: #FF6060;
            font-size: 18px;
            font-weight: 500;

             @media screen and (max-width: 767px){
            font-size: 12px;
   }

        &_img {
              width: 64px;
              height: 64px;
              object-fit: cover;
              object-position: center;
              border-radius: 50%;

               @media screen and (max-width: 767px){
                 width: 32px;
                 height: 32px;
   }
        }
        }
    }

    &_collapse {
    display: flex;
    flex-direction: row;
    margin: 0px;

          @media screen and (max-width: 767px){
                 flex-direction: column;
   }

    &_item {
        width: 100%;
    }
}
}